@model Contact
@{
    string title = ViewBag.Action;
    ViewBag.Title = title + " Contact";
}
<h2>Delete Contact</h2>
<p>Do you really want to delete <strong>@Model.FirstName @Model.LastName</strong>?</p>
@*Form to delete contacts*@
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="@Model.ContactId" />
    <button type="submit" class="btn btn-primary">Yes</button>
    <a asp-controller="Contact" asp-action="Details" asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug" class="btn btn-primary">No</a>
</form>