@model Contact
@{
    string title = ViewBag.Action;
    ViewBag.Title = "Contact " + title;
}
<h2>@ViewBag.Title</h2>
@*Table that lists a contacts info*@
<table class="table">
    <tr>
        <th>First Name:</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Phone:</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Category:</th>
        <td>@Model.Category.Name</td>
    </tr>
    <tr>
        <th>Organization:</th>
        <td>@Model.Organization</td>
    </tr>
    <tr>
        <th>Date added:</th>
        <td>@Model.DateAdded</td>
    </tr>
    <tr>
        <td colspan="2">
            <a asp-controller="Contact" asp-action="Edit" asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug" class="btn btn-primary">Edit</a>
            <a asp-controller="Contact" asp-action="Delete" asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug" class="btn btn-primary">Delete</a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
        </td>
    </tr>
</table>