@model Contact
@{
    string title = ViewBag.Action;
    ViewBag.Title = title + " Contact";
}
<h2>@ViewBag.Title</h2>
@*Form for addeding and editing contacts*@
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
    @*List categories*@
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="">select a category</option>
            @foreach (Category category in ViewBag.Categories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Organization">Organization</label>
        <input asp-for="Organization" class="form-control">
    </div>
    <div class="form-group">
        @*Add current datetime to new contacts*@
        @if (ViewBag.Action == "Add")
        {
            <input type="hidden" asp-for="DateAdded" value="@DateTime.Now" />
        }
        <input type="hidden" asp-for="ContactId" />
        <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
        @*Return editing users to details page on cancel*@
        @if (ViewBag.Action == "Edit")
        {
            <a asp-controller="Contact" asp-action="Details" asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug" class="btn btn-primary">Cancel</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
        }
    </div>
</form>